.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerContainer {
  padding-bottom: 10px;
}

.figureContainer {
  margin: 0px 20px;
}

.guessesContainer {
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 20px;
}

.guessedLetters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.guessedLetters p {
  margin: 10px;
  padding: 10px 10px;
  font-size: x-large;
  border: solid red 1px;
}

.keyboard {
  margin: 10px 10px;
}

.keyboard button {
  width: 40px;
  height: 40px;
}

.resultLose {
  background-color: red;
  font-size: x-large;
}

.resultLose button {
  margin-bottom: 20px;
}

.resultWin {
  background-color: gold;
  font-size: x-large;
}

.resultWin button {
  margin-bottom: 20px;
}

.wordContainer {
  margin: 10px;
  font-size: 30px;
}

@media only screen and (min-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    grid-template-areas:
      'header header'
      'figure guesses'
      'figure word'
      'keyboard keyboard';
    justify-content: center;
  }

  .headerContainer {
    grid-area: header;
    font-size: 20px;
    padding-bottom: 30px;
  }

  .figureContainer {
    grid-area: figure;
    margin-bottom: 30px;
  }

  .guessedLetters {
    padding: 10px;
  }

  .guessedLetters p {
    margin: 10px;
    padding: 10px 20px;
    font-size: xx-large;
    border: solid red 1px;
  }

  .guessesContainer {
    grid-area: guesses;
    justify-content: flex-start;
    border: solid black 1px;
  }

  .keyboard {
    grid-area: keyboard;
    padding-left: 70px;
    max-width: 85%;
  }

  .keyboard button {
    width: 60px;
    height: 60px;
  }

  .resultLose {
    grid-area: word;
  }

  .resultWin {
    grid-area: word;
  }

  .wordContainer {
    grid-area: word;
    max-width: 90%;
    font-size: 40px;
  }
}
